.cool {
    font-size: 30px;
    line-height: 62px;
    font-family: 'Open Sans Condensed', sans-serif;
}
body {
    font-size: 30px;
    line-height: 62px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
.dud {
    background-color: #09101a;
}
.container {
	width: 80%;
	margin: 0 auto;
    color: #293f61;
}
nav {
    float: none 
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 34px;
    padding-left: 5px;
  
    position: inherit;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #293f61;
}
nav a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #3f6196;
}